html, body{
    height: 100%;
}

.left-back{
    background-image:url("img/background1.jpg") ;
    padding: 0;
}

.navigator{
    text-align: center;
    margin-top: 40%;
    font-style: italic;
    font-size: 30px;
    color: bisque;
}

.listpadding{
    padding: 0;
    line-height: 20px;
}

.INFSCI{
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
    line-height: 5px;
    width: 100%;
    bottom: 0%;
    position: absolute;
}

.time{
    color: white;
    width: 100%;
    margin-left: 30%;
    padding:0 ;
}

.right{
    overflow-y: scroll;
    /*background-color: snow;*/
}

.indexheader{
    font-size: 50px;
}

.indextext{
    font-size: 40px;
    text-indent:60px;
}

.card-img-top{
    height: 100px;
    width: 100px;
}


